{% extends 'base.html' %} 
{% load static %} 

{% block title %}{% if object %}Update Category{% else %}Add New Category{% endif %} - Hangarin{% endblock %}
{% block page_title %}{% if object %}Update Category{% else %}Add New Category{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">{% if object %}Update Category{% else %}Add New Category{% endif %}</div>
                <div class="card-category">{% if object %}Modify category details{% else %}Create a new category{% endif %}</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <form method="post" novalidate>
                            {% csrf_token %} 
                            {% include 'includes/form.html' %}
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-rounded">
                                    {% if object %}Update Category{% else %}Create Category{% endif %}
                                </button>
                                <a href="{% url 'category-list' %}" class="btn btn-secondary btn-rounded">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}